// @import url('https://www.fontify.me/wf/c237ae81839c0e365cd53275e6330b81');

*{
    font-family: $main-font-family;
    box-sizing: border-box;
}
html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.grow{
    flex-grow: 1;
}
.flex-end{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.flex-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.mobile{
    display: block;
    @include msm{
        display: none;
    }
}
.desktop{
    display: none;
    @include msm{
        display: block;
    }
}
.container{
    padding: 74px 16px 32px;
    @include msm{
    padding: 74px 32px 32px;
    }
    @include mmd{
        padding: 84px 80px 32px;
    }
    @include xl{
        padding: 84px 120px 32px;
    }
}