.home{
    // Header Start
    .header{
        height: 100%;
        padding-top: 84px;
        @include rwd(300,500){
            height: 100vh;
        }
        @include msm{
            height: 100vh;
        }
        @media (max-width:1024px) and (min-height:1024px){
            height: 100%;
        }
        .header-container{
            margin: auto;
            width: 100%;
            height: 100%;
            display: flex;
            @include msm{
                align-items: flex-start;
            }
            @include md{
                align-items: center;
            }
            .title-container{
                @include xl{
                    margin-bottom:150px;
                }
            }
            .main-title{
                color: $blue;
                text-transform: uppercase;
                font-size: $xlarge-font;
                margin-bottom: 0;
                text-align: center;
                @include msm{
                    text-align: left;
                    align-items: flex-start;
                }
                @include md{
                    font-size: $xxlarge-font;
                    align-items: center;
                }
            }
            .slogan{
                color: $dark-orange;
                font-size: $regular-font;
                text-align: center;
                @include msm{
                    text-align: left;
                }
                @include md{
                    width: 350px;
                    text-align: center;
                }
                @include md{
                    font-size: $title-font;
                }
            }
            .header-buttons-container{
                margin: 40px 0;
                width: 100%;
                display: flex;
                justify-content: center;
                a{
                    text-decoration: none;
                }
                @include msm{
                    width: 300px;
                    display: block;
                }
                button{
                    width: 110px;
                    height: 40px;
                    text-transform: capitalize;
                }
                .products-button{
                    color: white;
                    text-transform: capitalize;
                    background-color: $bright-orange;
                    border: 1px solid $dark-orange;
                    box-shadow: $main-box-shadow;
                    transition: $transition-main;
                    margin-right: 25px;
                    &:hover{
                        transition: $transition-main;
                        color: $bright-orange;
                        background-color: white;
                    }
                }
                .contact-button{
                    color: $bright-orange;
                    background-color: white;
                    border: 1px solid $dark-orange;
                    transition: $transition-main;
                    &:hover{
                        transition: $transition-main;
                        box-shadow: $main-box-shadow;
                    }
                }
            }
        }
        .banner-container{
            width: 100%;
            img{
                width: inherit;
            }
        }
    }
    // Header End

    // About Start
    .about{
        padding-top: 20px;
        background-color: #fafafa;
        @at-root .about-title{
            color: $dark-orange;
            font-size: $title-font;
            @include md{
                font-size: $large-font;
            }
        }
        .about-content{
            padding: 20px;
            box-shadow: none;
            color: $blue;
            font-weight: $bold-font;
        }
        .about-grid{
            width: 100%;
            display: none;
            @include mmd{
                display: block;
            }
            img{
                width: inherit;
                margin-top: 40px;
            }
        }
    }
    // About End

    // Benefits Start
    .benefits{
        .benefits-container{
            position: relative;
            width: 100%;
            height: 100%;
        }
        .leaves{
            position: absolute;
            width:inherit;
            height: inherit;
            top: 0%;
            left: 0%;
            display: none;
            @include md{
                display: block;
            }
        }
        .benefits-title{
            @extend .about-title;
        }
        .benefit-grid{
            .benefit-div{
                display: flex;
                img{
                    width: 15px;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    @include msm{
                        margin-bottom: 0;
                    }
                }
                p{
                    font-size: $title-font;
                    display: inline;
                    color: $blue;
                    font-weight: $bold-font;
                }
            }
            
        }
    }
    // Benefits End
    // Products Start
    .products{
        background-color: $bright-orange;
        .title-container{
            display: flex;
            justify-content: center;
            align-items: center;
            .products-title{
                @extend .about-title;
                color: white;
                text-align: center;
                margin-right: 20px;
            }
            a{
                text-decoration: none;
            }
            button{
                color: $primary-white;
                background-color: $blue;
                text-transform: capitalize;
                transition:$transition-main;
                border: 2px solid $blue;
                &:hover{
                    transition:$transition-main;
                    color: $blue;
                    background-color: $primary-white;
                }
            }
        }
        
        hr{
            margin-bottom: 60px;
            max-width: 850px;
            border-width: .5px;
        }
        .products-grid-1{
            display: flex;
            justify-content: center;
            @include mmd{
                justify-content: flex-end;
            }
        }
        .products-grid-2{
            display: flex;
            justify-content: center;
            @include mmd{
                justify-content: flex-start;
            }
        }
        .products-card{
            max-width: 400px;
            background: $blue;
            .image-container{
                border-radius: inherit;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                overflow: hidden;
                img{
                    width: 100%;
                    border-radius: inherit;
                    transition:$transition-main;
                    &:hover{
                        transition:$transition-main;
                        transform: scale(1.2);
                        transition-delay: .2s;
                    }
                }
            }
            h3{
                text-align: center;
                color: white;
                font-weight: $bold-font;
            }
        }
    }
    // Products End
}